.faa-main-title {
  background-image: url('../img/field-auditing-app/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  position: relative;
  h1, p {
    position: relative;
    z-index: 10;
  }
  &:after {
    content: " ";
    background-color: rgba($darkBlue, 0.2);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.faa-setting-stage {
  padding: 5em 0;
  h2 {
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 25.629em;
  }
  @media (max-width: 768px) {
    padding: 7.594em 0;
  }
}

.faa-my-role {
  background-image: url('../img/field-auditing-app/typesetting-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 5em 0;
  h2 {
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 25.625em;
  }
  @media (max-width: 768px) {
    .row {
      display: flex;
      .copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.faa-hit-list {
  padding: 3.325em 0;
  h2 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    max-width: 43.249em;
    margin: 0.75em auto 0;
  }
  ul {
    background-color: white;
    color: $text;
    border-left: 4px dashed rgba($darkBlue, 0.4);
    margin: 1.5em auto 0;
    padding-top: 1.5em;
    padding-right: 1em;
    padding-bottom: 1.5em;
    padding: 1.5em 1em 1.5em 2.5em;
    display: block;
    max-width: 43.249em;
    transform: rotate(-1deg) scale(1);
    box-shadow: -1px 2px 6px 1px fadeOut($text, 0.7);
  }
  @media (max-width: 768px) {
    padding: 7.5em 0;
  }
}

.faa-designing {
  padding: 3.325em 0;
  h2 {
    font-size: 2.25em;
    text-transform: uppercase;
  }
  img {
    border: 1px solid $darkBlue;
    display: block;
    margin: 0 auto;
    max-width: 23em;
    width: 100%;
    transform: rotate(-1deg);
  }
  blockquote {
    font-size: 1.5em;
    margin-top: 1em;
  }
  @media (max-width: 768px) {
    padding: 5em 0 7.5em;
    h2 {
      font-size: 3.375em;
    }
    blockquote {
      font-size: 1.531em;
      margin-top: 3.797em;
    }
  }
}

.faa-initial-design {
  background-color: white;
  color: $text;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 3.325em 0;
  h3 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  img {
    display: block;
    margin: 0 auto 1em;
    width: 100%;
    max-width: 17em;
  }
  @media (max-width: 768px) {
    padding: 5em 0 7.5em;
    h3 { font-size: 2.5em; }
    img { margin-bottom: 0; }
  }
}

.faa-building {
  padding: 5em 0;
  h2 {
    font-size: 2.25em;
    text-transform: uppercase;
  }
  .ffa-tech-used {
    img {
      display: block;
      margin: 0 auto;
      max-width: 25.629em;
    }
  }
  .faa-adapting {
    margin-top: 5em;
  }
  .faa-before-after {
    margin-top: 1.17em;
    img {
      display: block;
      width: 100%;
      max-width: 14em;
      margin: 1em auto 0;
    }
  }
  .faa-copy-paste {
    img {
      display: block;
      width: 100%;
      max-width: 25.629em;
      margin: 0 auto;
    }
  }
  .faa-blanks {
    figure {
      max-width: 25.625em;
      margin: 0 auto;
      & + figure {
        margin-top: 0.75em;
      }
    }
  }
  @media (max-width: 768px) {
    h2 { font-size: 3.375em; }
    .faa-before-after img { margin-top: 0; }
    .faa-copy-paste-title { margin-top: 5em; }
    .faa-copy-paste { margin-bottom: 5em; }
    .faa-blanks { margin-top: 5em; }
  }
}

.faa-introducing {
  background-color: $text;
  background: linear-gradient(160deg, #143322 0%,#5a9f79 100%);
  padding: 2.25em 0 0;
  overflow: hidden;
  h2 {
    font-size: 2.25em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    span {
      font-weight: normal;
      display: block;
      line-height: 1.4em;
    }
    span.int {
      font-size: 1.5rem;
    }
    span.tbi {
      font-size: 1.25rem;
    }
  }
  .images {
    img {
      margin-bottom: 1em;
    }
  }
  .in-ipad {
    display: block;
    margin: 1em auto 2em;
    width: 100%;
    max-width: 38.443em;
  }
  @media (max-width: 768px) {
    padding: 5em 0 0;
    h2 {
      font-size: 3.375em;
      span.int { font-size: 2rem; }
      span.tbi { font-size: 1.5rem; }
    }
    .images {
      .one,
      .six {
        transform: scale(0.75);
      }
      .two,
      .five {
        transform: scale(0.85);
      }
    }
    .in-ipad {
      margin-bottom: -5em;
    }
  }
}

.faa-what-i-learned {
  padding: 5em 0;
  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
  }
  img {
    margin: 1.5em auto 0;
    display: block;
    width: 100%;
    max-width: 20em;
  }
  .back-link {
    margin-top: 3.325em;
  }
}
