---
layout: blog-list
title: Blog
permalink: /blog/
---

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <span class="meta">
          {% if post.author %}
            By {{ post.author }} on
          {% endif %}
          <span> {{ post.date | date: "%b %-d, %Y" }}</span>
        </span>
        <h4>
          {{ post.title }}
        </h4>
        <p class="description">
          <span class="category">{{ post.categories }}</span>
          {% if post.description %}
            <span> {{ post.description }} </span>
            <span class="continue-reading">Continue...</span>
          {% endif %}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>