.main-header {
  border-top: 4px solid @clr-accent;
  a.logo {
    width: 81px;
    display: block;
    margin: 1em auto;
    svg {
      width: 81px;
      height: 117px;
    }
    .shape {
      fill: @clr-logo;
    }
  }
  p {
    font-family: @font-family-headers;
    text-align: center;
    margin-bottom: 1em;
  }
  nav {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    a {
      font-family: @font-family-headers;
      text-transform: uppercase;
      display: inline-block;
      & + a {
        margin-left: 1.5em;
      }
      &.active {
        color: @clr-text;
        border-bottom: 2px solid @clr-text;
      }
    }
  }
}
