// Case Studies
.case-studies {
  padding-bottom: 3.375em;
}

.case-study {
  background-color: @clr-frame;
  border: 2px solid @clr-frame;
  color: @clr-text;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 3.375em 1em;
  h2 {
    line-height: 1.4em;
    text-transform: uppercase;
  }
  p.read-on {
    span {
      background-color: @clr-button;
      border: 1px solid @clr-frame;
      border-radius: 4px;
      color: @clr-text;
      text-shadow: none;
      padding: 0.125em 0.5em 0.125em 0.667em;
      display: inline-block;
      i:before { margin-right: 0; }
    }
  }
  &:hover,
  &:focus {
    border-color: @clr-link;
    text-decoration: none;
    p.read-on span {
      color: @clr-link;
    }
  }
  & + & {
    margin-top: 1em;
  }
}

.faa {
  background: linear-gradient(160deg, @clr-text 0%,@clr-accent 100%);
  position: relative;
  h2, p {
    color: white;
    text-shadow: 0 1px 2px @clr-text;
    position: relative;
    z-index: 10;
  }
  &:before {
    content: '';
    background: url("../img/portfolio/repeat-survey-icons.png");
    background-size: 132px 132px;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.to-be-continued {
  &:hover {
    border-color: @clr-frame;
  }
}

// Stuff in the Wild
.wild-items {
  padding-bottom: 5em;
  p.desc {
    margin-top: 0;
    font-style: italic;
  }
  h2 {
    margin-top: 1em;
    text-transform: uppercase;
  }
}

a.wild-item {
  background-color: white;
  border: 2px solid @clr-frame;
  color: @clr-text;
  display: block;
  img {
    border-bottom: 2px solid @clr-frame;
  }
  h3 {
    color: @clr-link;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1em 0em;
  }
  .wi-desc {
    line-height: 1.4em;
    margin-top: 0;
    padding: 0 1em 1em;
  }
  &:hover,
  &:focus {
    border-color: @clr-link;
    text-decoration: none;
    h2 {
      text-decoration: underline;
    }
  }
}

.wi-flex {
  @media @bp {
    &,
    & > div {
      display: flex;
    }
  }
}
