.portfolio-pieces {
  padding-top: 3.375em;
  padding-bottom: 3.375em;
}

.portfolio-item {
  background-color: @clr-frame;
  border: 2px solid @clr-frame;
  color: @clr-text;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 3.375em 1em;
  p.read-on {
    color: @clr-link;
    font-style: italic;
    &:after {
      content: '>';
      display: inline-block;
      margin-left: 0.25em;
    }
  }
  &:hover {
    border-color: @clr-link;
    text-decoration: none;
    p.read-on {
      text-decoration: underline;
    }
  }
  & + & {
    margin-top: 1em;
  }
}

.faa {
  background: linear-gradient(160deg, @clr-text 0%,@clr-accent 100%);
  position: relative;
  h1, p {
    color: white;
    text-shadow: 0 1px 2px @clr-text;
    position: relative;
    z-index: 10;
  }
  &:before {
    content: '';
    background: url("../img/portfolio/repeat-survey-icons.png");
    background-size: 132px 132px;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.to-be-continued {
  &:hover {
    border-color: @clr-frame;
  }
}
