.faa-main-title {
  background-image: url('../img/field-auditing-app/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  position: relative;
  h1, p {
    position: relative;
    z-index: 10;
  }
  &:after {
    content: " ";
    background-color: fadeOut(black, 40);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.faa-setting-stage {
  padding: 7.594em 0;
  h2 {
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 25.629em;
  }
}

.faa-my-role {
  background-image: url('../img/field-auditing-app/typesetting-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 5em 0;
  h2 {
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 25.625em;
  }
  .row {
    display: flex;
    .copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.faa-hit-list {
  padding: 7.5em 0;
  h2 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
  }
  p { text-align: center; }
  ul {
    background-color: white;
    border-left: 4px dashed fadeOut(@clr-text, 40);
    margin: 1.5em auto 0;
    padding-top: 1.5em;
    padding-right: 1em;
    padding-bottom: 1.5em;
    padding: 1.5em 1em 1.5em 2.5em;
    display: block;
    max-width: 43.249em;
    transform: rotate(-1deg) scale(1);
    box-shadow: -1px 2px 6px 1px fadeOut(@clr-text, 70);
  }
}

.faa-designing {
  padding: 5em 0 7.5em;
  h2 {
    font-size: 3.375em;
    text-transform: uppercase;
  }
  img {
    border: 2px solid @clr-frame;
    display: block;
    margin: 0 auto;
    max-width: 23em;
    width: 100%;
    transform: rotate(-1deg);
  }
  blockquote {
    font-size: 2.25em;
    margin-top: 3.797em;
  }
}

.faa-initial-design {
  background-color: white;
  border-top: 2px solid @clr-frame;
  border-bottom: 2px solid @clr-frame;
  padding: 5em 0 7.5em;
  h3 {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
    opacity: 0.5;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 17em;
  }
}

.faa-building {
  padding: 5em 0;
  h2 {
    font-size: 3.375em;
    text-transform: uppercase;
  }
  .ffa-tech-used {
    img {
      display: block;
      margin: 0 auto;
      max-width: 25.629em;
    }
  }
  .faa-adapting {
    margin-top: 5em;
  }
  .faa-before-after {
    margin-top: 1.17em;
    img {
      display: block;
      width: 100%;
      max-width: 14em;
      margin: 0 auto;
    }
  }
  .faa-copy-paste-title {
    margin-top: 5em;
  }
  .faa-copy-paste {
    margin-bottom: 5em;
    img {
      display: block;
      width: 100%;
      max-width: 25.629em;
      margin: 0 auto;
    }
  }
  .faa-blanks {
    margin-top: 5em;
    figure {
      max-width: 25.625em;
      margin: 0 auto;
      & + figure {
        margin-top: 0.75em;
      }
    }
  }
}
