.faa-main-title {
  background-image: url('../img/field-auditing-app/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  position: relative;
  h1, p {
    position: relative;
    z-index: 10;
  }
  &:after {
    content: " ";
    background-color: fadeOut(black, 40);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.faa-setting-stage {
  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
}
