@clr-bg: #f6f8fa;
@clr-text: #040d17;
@clr-frame: #e3e4e6;

@clr-logo: @clr-text;
@clr-accent: #1fd389;
@clr-link: #13a5c6;

@font-path: '../fonts';
@font-family-base: 'quattrocento', 'Georgia', 'Times New Roman';
@font-family-headers: 'oswald', 'Futura', 'Verdana';
@font-family-icons: 'icons';
