// colors
@clr-bg: #f9f8e5;
@clr-text: #15211a;
@clr-frame: #e3e4e6;
@clr-text-lt: #777;

@clr-logo: @clr-accent;
@clr-link: #13a5c6;
@clr-button: #f8f8f8;

@clr-accent: #27332d;

// fonts
@font-path: '../fonts';
@font-family-base: 'open-sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-family-headers: 'oswald', 'Futura', 'Verdana';
@font-family-icons: 'icons';

// media queries
@bp: ~"(min-width: @{screen-sm-min})";

// helpers
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
