<footer>
  <div class="brandon-photo">
    <img src="{{ site.baseurl }}/img/brandon-reid_500x500.jpg" alt="Brandon Reid">
  </div>
  <div class="socials">
    <a class="icon-github" href="https://github.com/brandonreid" target="_blank">
      <span class="sr-only">My Github Profile</span>
    </a>
    <a class="icon-linkedin" href="https://www.linkedin.com/in/reidbrandon" target="_blank">
      <span class="sr-only">My LinkedIn Profile</span>
    </a>
  </div>
  <p class="center copywright">© {{ site.time | date: '%Y' }} Brandon Reid</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
