<div class="shared-nav-wrapper">
  <a class="brandon" href="{{ site.baseurl }}/">BRANDON REID</a>
  <div class="container">
    <svg class="octogon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="306.3px" height="306.3px" viewBox="0 0 306.3 306.3" style="enable-background:new 0 0 306.3 306.3;" xml:space="preserve">
      <polygon class="big" points="44.9,44.9 0,153.2 44.9,261.5 153.2,306.3 261.5,261.5 306.3,153.2 261.5,44.9 153.2,0 "/>
      <polygon class="small" points="66.6,66.6 30.8,153.2 66.6,239.7 153.2,275.5 239.7,239.7 275.5,153.2 239.7,66.6 153.2,30.8 "/>
    </svg>
    <nav>
      <a href="{{ site.baseurl }}/">Portfolio</a>
    </nav>
  </div>
</div>