<header class="main-header">
  <h1 class="logo">
    <a href="/">
      Brandon Reid
    </a>
  </h1>
  <div class="p">
    <p>application design <span>&amp;</span> design system development <span>&amp;</span> front end coding</p>
  </div>
  <nav>
    <!-- Set navigation items in _config.yml -->
    {% for link in site.navigation %}
      {% assign active = nil %}
      {% if page.url == link.url %}
        {% assign active = 'active' %}
      {% endif %}
      <a class="{{ active }}" href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
    {% endfor %}
  </nav>
</header>
