<header class="main-header">
  <a href="/" class="logo">
    {% include logo.html %}
  </a>
  <p>Brandon Reid is a UX Designer &amp; Front End Developer, currently located in Fresno, CA.</p>
  <nav>
    <!-- Set navigation items in _config.yml -->
    {% for link in site.navigation %}
      {% assign active = nil %}
      {% if page.url == link.url %}
        {% assign active = 'active' %}
      {% endif %}
      <a class="{{ active }}" href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
    {% endfor %}
  </nav>
</header>
